* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.top {
  height: 109vh;
  background-image: url("asset/netflix\ bg.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar {
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 0.8),
    rgb(0, 0, 0, 0.6),
    rgb(0, 0, 0, 0.4),
    rgb(0, 0, 0, 0.2),
    rgb(0, 0, 0, 0)
  );
}

.logo {
  color: red;
  height: 40px;
}

.nav-content {
  width: 65vw;
  text-align: right;
}

select {
  margin-right: 5px;
  font-size: 16px;
  color: white;
  padding: 6px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.signin {
  font-weight: bold;
  font-size: 14px;
  background-color: red;
  padding: 6px 16px;
  border-radius: 5px;
}

.subtitle {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.subtitle h1 {
  font-size: 56px;
  font-weight: 900;
}

#h12 {
  margin-bottom: 16px;
}

#p11 {
  font-size: 20px;
  margin-bottom: 32px;
}

#p12 {
  font-size: 16px;
}

.label {
  position: absolute;
	pointer-events: none;
	top: 24px;
	left: 10px;
	transition: 0.2s ease all;
}

.email {
  display: flex;
  margin-top: 15px;
  gap: 0.5rem;
}
.email-con{
  position: relative;
	width: 90%;

}

input {
  padding-top: 10px;
  color: white;
  height: 55px;
  width: 30vw;
	outline: none;
	border:none;
  background-color: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid #777;
  border-radius: 5px;
 	box-shadow: none !important;
}

.email-con input:focus ~ .label,
.email-con input:focus:valid ~ .label
{
	top: 5px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

.button {
  font-size: 24px;
  text-wrap:nowrap;
  font-weight: 600;
  background-color: red;
  padding: 15px 30px;
  border-radius: 5px;
}

.curve {
  position: absolute;
  top: 99vh;
  height: 20vh;
  width: 130%;
  left: -15%;
  display: flex;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  background-image: linear-gradient(
    to right,
    rgba(33, 13, 22),
    rgba(184, 40, 105),
    rgba(229, 9, 20),
    rgba(184, 40, 105),
    rgba(33, 13, 22)
  );
}

.curvedown {
  border: solid 4px transparent;
  border-bottom: 0;
  height: 20vh;
  width: 130%;
  left: -15%;
  border-radius: inherit;
  color: white;
  background: radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
  background-clip: padding-box;
}

main {
  padding: 64px 148px;
  color: white;
  background-color: black;
}

ul {
  display: flex;
  overflow-x: auto;
}

.trending {
  margin: 20px;
  list-style: none;
}

.trending img {
  border-radius: 8px;
}

.trending :hover {
  transition-delay: 0.1s;
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
}

main h2 {
  margin: 16px 0;
}

.reason {
  width: 100%;
  margin-top: 12px;
  margin-left: 16px;
  list-style: none;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#rs1 {
  margin-left: 0;
}

.rsdiv {
  padding: 20px 16px 0px 16px;
}

.rsdiv h3 {
  font-size: 24px;
  font-weight: 700;
}

.reason p {
  margin: 8px 0;
}

.reason img {
  height: 72px;
  width: 72px;
  padding: 10px;
}

.fqabtn {
  border: none;
  width: 100%;
  text-align: start;
  padding: 24px;
  color: white;
  background-color: rgb(45, 45, 45);
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 783px;
  margin: 1.5rem 92.1664px;
  margin-bottom: 64px;
}
.foot input{
  background-color: rgba(15, 15, 15);
  position: static;
  width: 100%;
  
}
.foot a {
 position: static;
}
.my64{
  margin-bottom: 64px;
}
#queshead {
  margin: 36px 0px;
}
.ques {
  display: flex;

  flex-wrap: wrap;
}
.ques a {
  color: rgb(179, 179, 179);
  font-size: 14px;
  margin-top: 12px;
  flex: 0 0 25%;
}
#p13{
  text-align: center;
}
#p14{
  font-size:14px ;
}
.footsl{
  margin: 6vh;
  margin-left: 0rem;
}